<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for your order!</h1>
    <br>

    <ul>
      <% @order.line_items.each do |item|%>
        <li><%=item.quantity%>x <%= item.product.name %> for $ <%=item.product.price * 100 %> ($ <%= item.quantity  * item.product.price * 100 %> each) </li>
      <% end %>
    </ul>
    
    <p>For a total of $<%= @order.total_cents * 100 %></p>>

    <p>Have a great day.</p>
   
  </body>
</html>